@media screen and (max-width: 576px) {
    .labelone {
        text-align: left;
    }
    .avatar {
        margin-top: 1rem;
        width: 10rem;
    }
}

@media screen and (min-width: 576px) {
    .avatar {
        margin-top: 1rem;
        width: 10rem;
    }
}

@media screen and (min-width: 768px) {
    .avatar {
        margin-top: 1rem;
        width: 10rem;
    }
}

@media screen and (min-width: 992px) {
    .avatar {
        margin-top: 1rem;
        width: 10rem;
    }
}

@media screen and (min-width: 1200px) {
    .avatar {
        margin-top: 1rem;
        width: 10rem;
    }
}