@import '~antd/es/style/themes/default.less';
.dayContainer{
    padding: 0.5rem 1rem 0.5rem 1rem !important;
}

.dayContainer::after {
    position: absolute;
    top: 50%;
    left: 100%;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-top: -14px;
    margin-left: -2px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: none;
    border-left: none;
    transform: rotate(45deg);
    content: '';
}
.dayContainerLast{
    padding: 0.5rem 1rem !important;
}
.dayName{
    font-size: 14px !important;
}
.dayContainer-last:after {
    content: none !important;
 }
 .dayIcon{
    font-size: 1rem !important;
    position: absolute !important;
    top: 10px;
    left: 10px;
 }
 .dayTotal{
    padding-top: 0.5rem;
    font-weight: 400 !important;
    text-align: left !important;
 }
 .dayDetailContainer{
    text-align: left !important;
    padding-top:0.5rem;
    line-height: 1.8;
    font-weight: 400 !important;
    font-style: italic !important;
 }

 @media (max-width: 575.98px) {
    .dayIcon{
        font-size: 1rem !important;
        position: absolute !important;
        top: 10px;
        left: 80px;
     }
     .dayContainer{
        padding: 0.5rem 2rem !important;
    }

  }
  @media (min-width: 1600px) { 
    .dayContainer{
        padding: 0.5rem 2.5rem !important;
    }
    .dayIcon{
        font-size: 1rem !important;
        position: absolute !important;
        top: 10px;
        left: 40px;
     }
   }