@import '~antd/es/style/themes/default.less';
.dayContainer{
    padding: 0.5rem 1rem 0.5rem 1rem !important;
   
}


.dayContainer::after {
    position: absolute;
    top: 46%;
    left: 96%;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-top: -14px;
    margin-left: -2px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: none;
    border-left: none;
    transform: rotate(45deg);
    content: '';
}
.dayContainerLast{
    padding: 0.5rem 1rem 0.5rem 1rem !important;
}
.dayName{
    font-size: 14px !important;
    text-align: end !important;
}
.dayContainerLast:after {
    content: none !important;
 }
 .dayIcon{
    font-size: 1rem !important;
    padding-right: 0.5rem;
    // position: absolute !important;
    // top: 10px;
    // left: 10px;
 }
 .currentDay{
    border-top-color: #001529;
    border-top-style: solid;
    border-width: .2rem;
 }
 .dayTotal{
    padding-top: 0.5rem;
    // font-weight: 400 !important;
    font-weight:bold;
    text-align: end !important;
 }
 .dayDetailContainer{
    text-align: end !important;
    padding-top:0.5rem;
    line-height: 1.8;
    font-weight: 400 !important;
    font-style: italic !important;
 }

 @media (max-width: 575.98px) {
    .dayIcon{
        font-size: 1rem !important;
        // position: absolute !important;
        // top: 10px;
        // left: 80px;
     }
     .dayContainer{
        // padding: 0.5rem 2rem !important;
        padding: 1rem 1rem 3rem 1rem !important;
    }
    .dayContainerLast{
        // padding: 0.5rem 2rem !important;
        padding: 1rem 1rem 3rem 1rem !important;
    }
    .dayContainer::after {
        left: 46%;
        top: 96%;
        transform: rotate(135deg);
    }

  }
  @media (min-width: 1600px) { 
    .dayContainer{
        // padding: 0.5rem 2.5rem !important;
    }
    .dayIcon{
        font-size: 1rem !important;
        // position: absolute !important;
        // top: 10px;
        // left: 40px;
     }
   }